In [1]:
import pandas

In [4]:
data3=pandas.read_excel('data/filesfrompaper/stable3 length-based.xlsx',sheet_name=1)
data3.head()

,Allele,Length,Number of peptides,Entropy difference pos1,Entropy difference pos2,Entropy difference pos3,Entropy difference pos4,Entropy difference pos5,Entropy difference pos6,Entropy difference pos7,Entropy difference pos8,Entropy difference pos9,Max absolute entropy difference,Different positions (threshold 0.2),Max abs AA frequency difference\n9-mer vs \npseudo9 no4,Max abs AA frequency difference\n9-mer vs \npseudo9 no5,Max abs AA frequency difference\n9-mer vs \npseudo9 no6,Min of max absolute AA frequency difference (threshold 0.25),Different motif (n>=100 and (dfreq>0.25 or dentr>0.2)
0,A0101,8,37,0.131686,0.032506,0.206664,0.166178,0.202869,0.211606,0.223933,0.050839,NaN,0.223933,"3,5,6,7",0.2440,0.2440,0.2440,0.2440,0
1,A0201,8,30,0.100920,-0.167071,0.196775,0.068301,0.100946,0.088307,0.154004,-0.137971,NaN,0.196775,0,0.3489,0.3489,0.3489,0.3489,0
2,A0202,8,52,0.172898,-0.509067,-0.006837,-0.002273,0.050008,0.111312,0.049560,-0.247018,NaN,0.509067,"2,8",0.5618,0.5618,0.5618,0.5618,0
3,A0203,8,39,0.191610,-0.016993,0.164834,0.256911,0.284407,0.172184,0.074072,0.104268,NaN,0.284407,"4,5",0.3619,0.3619,0.5215,0.3619,0
4,A0204,8,26,0.108263,0.092360,0.363197,0.372020,0.071705,0.211535,0.148373,-0.000020,NaN,0.372020,"3,4,6",0.5213,0.5213,0.5213,0.5213,0

In [3]:
data3.head()

,Allele,PostFilters,less7,7,8,9,10,11,12,13,14,15,16,17,18,19,20,more20
0,A*01:01,1383,0,0,37,488,341,211,167,92,23,14,5,4,0,1,0,0
1,A*02:01,3274,0,10,30,2075,481,489,103,48,15,8,8,4,1,1,0,1
2,A*02:02,3363,0,30,52,2322,507,282,83,35,12,8,8,1,3,5,2,13
3,A*02:03,2649,0,5,39,1760,671,103,34,15,6,3,3,3,1,2,1,3
4,A*02:04,2027,0,6,26,1628,178,153,24,6,2,1,1,1,1,0,0,0