In [3]:
import pandas as pd

In [4]:
pd=pd.read_csv('/lustre/wmy/Project_2/data/dataframe_ppv/A0101_11_fold_var_1',index_col=0)

In [5]:
pd.head()

   y_test    y_pred
0       1  1.000000
1       1  1.000000
2       1  0.997177
3       1  1.000000
4       1  0.999992

In [6]:
print('sortbefore:',pd)

sortbefore:        y_test        y_pred
0           1  1.000000e+00
1           1  1.000000e+00
2           1  9.971768e-01
3           1  1.000000e+00
4           1  9.999924e-01
...       ...           ...
42195       0  1.928153e-12
42196       0  1.869115e-12
42197       0  2.671894e-12
42198       0  1.868954e-12
42199       0  1.921991e-12

[42200 rows x 2 columns]

In [7]:
pd.sort_values("y_pred",inplace=True,ascending=False)

In [8]:
pd.head()

    y_test  y_pred
0        1     1.0
15       1     1.0
42       1     1.0
41       1     1.0
38       1     1.0

In [9]:
lenth=len(pd)*0.001
print(lenth)

42.2

In [10]:
df1=pd.reset_index()

In [11]:
df1.head(20)

    index  y_test  y_pred
0       0       1     1.0
1      15       1     1.0
2      42       1     1.0
3      41       1     1.0
4      38       1     1.0
5       1       1     1.0
6      27       1     1.0
7      25       1     1.0
8      23       1     1.0
9      22       1     1.0
10     20       1     1.0
11     19       1     1.0
12     18       1     1.0
13     17       1     1.0
14     24       1     1.0
15     14       1     1.0
16     10       1     1.0
17      7       1     1.0
18      9       1     1.0
19      3       1     1.0

In [12]:
df2=df1.loc[:42]

In [13]:
df3=df2.loc[:,'y_test'].value_counts()

In [14]:
print(df3)

1    37
0     6
Name: y_test, dtype: int64

In [15]:
df3[1]

37

In [16]:
df3[1]/lenth

0.8767772511848341